/* MakeAppointment.css */

.appointment-form {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.appointment-form h2 {
  margin-bottom: 20px;
}

.appointment-form label {
  display: block;
  margin-bottom: 10px;
}

.appointment-form input[type="text"],
.appointment-form input[type="date"],
.appointment-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.appointment-form button[type="submit"] {
  background-color: #2a9981;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.appointment-form button[type="cancel"] {
  position: absolute; /* Position the button relative to its containing element */
  top: 552px; /* Adjust top positioning as needed */
  right: 180px; /* Adjust right positioning as needed */
  background-color: #2a9981;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.appointment-form button[type="submit"]:hover {
  background-color: #106f57;
}

.schedule-button {
    background-color: rgba(69, 150, 134);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  
  .table-container {
    position: relative;
  }
  