.treat-page {
  margin: 0 auto;
  width: 60%;
}
.treat-h1 {
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  border: 0.2rem solid var(--green);
  box-shadow: 0.6rem 0.6rem 0 rgba(22, 160, 133, 0.3);
}

.treat-thead {
  top: -1px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 0.2rem solid var(--green);
  box-shadow: 0.6rem 0.6rem 0 rgba(22, 160, 133, 0.3);
}
.treat-no-h {
  align-content: 5%;
}

.treat-hospital-h {
  width: 38%;
}
.treat-name-h {
  width: 38%;
}
.treat-plan-h {
  width: 20%;
}

.treat-tb-head {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-spacing: 10px;
  cursor: pointer;
  border: 0.2rem solid var(--green);
  box-shadow: 0.6rem 0.6rem 0 rgba(22, 160, 133, 0.3);
}

.treat-table {
  margin: 0 auto;
  width: 100%;
}

.treat-body {
  text-align: center;
  border-radius: 5px black;
  background-color: rgb(255, 255, 255);
  border: 0.2rem solid var(--green); 
  border-radius: 5px;
  box-shadow: .6rem .6rem 0 rgba(22, 160, 133, 0.3);
}

.treat-border{
  background-color: rgb(255, 255, 255);
  border: 0.2rem solid var(--green); 
  border-radius: 5px;
  box-shadow: .6rem .6rem 0 rgba(22, 160, 133, 0.3);
}

.treat-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.treat-content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.treat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.treat-table th,
.treat-table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}