@import "normalize.css";

:root {
  --green: #16a085;
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 2rem solid var(--green);
}

* {
  font-family: "Poppins", san-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-transform: capitalize;
  text-decoration: none;
}

.Mbutton {
  margin-top: 1rem;
  border: none;
  background-color: #16a085;
  color: #fff;
  padding: .5rem 2.5rem;
  border-radius: 5px;
}

body {
  transition: margin 0.3s ease;
}

html {
  margin: 0;
  padding: 0;
}
