.appointment-page {
    margin-top: 100px;  
}
  
.custom-table {
    width: 100%;
    border: 0.2rem solid var(--green); 
    border-radius: 5px;
    box-shadow: .6rem .6rem 0 rgba(22, 160, 133, 0.3);
}


.custom-table th,
.custom-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.custom-table th {
    text-align: left;
}

.custom-table .center-cell {
    text-align: center;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #fff; /* White background for odd rows */
}

.custom-table tbody tr:nth-child(even) {
    background-color: rgba(22, 160, 133, 0.1); /* Light gray background for even rows */
}


.appointmenthead {
    background-color: rgba(22, 160, 133, 0.5);
}

.confirmButton {
    background-color: #18a3a8;
    color: #fff;
    padding: 2px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
