.custom-table {
    width: 100%;
    border: 0.2rem solid var(--green); 
    border-radius: 5px;
    box-shadow: .6rem .6rem 0 rgba(22, 160, 133, 0.3);
  }
  
  .custom-table th,
  .custom-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .custom-table th {
    text-align: left;
  }
  
  .custom-table .center-cell {
    text-align: center;
  }
  
  .custom-table tbody tr:nth-child(odd) {
    background-color: #fff; /* White background for odd rows */
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: rgba(22, 160, 133, 0.1); /* Light gray background for even rows */
  }
  
  .custom-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(22, 160, 133);
  }
  
  .custom-button.primary {
    background-color: rgba(22, 160, 133);
    color: #fff;
  }
  
  .custom-button.primary:hover {
    background-color: rgb(12, 148, 121)
  }
  
  .appointmenthead {
    background-color: rgba(22, 160, 133, 0.5);
  }
  
  .appointment-page h2 {
    margin-bottom: 10px; 
  }
  
.credit-card-form-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.credit-card-form-container input[type="text"],
.credit-card-form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.credit-card-form-container input[type="submit"] {
  background-color: rgb(42, 183, 150);
  color: #fff;
  cursor: pointer;
}

.card-info-box {
  background-color: #e6f7ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-info-box .card-holder {
  font-weight: bold;
}

.card-info-box .balance {
  margin-top: 10px;
}


