.doctorfeatures {
    flex: 1;
    box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.49);
    -webkit-box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.49);
    -moz-box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.49);
    padding: 10px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: 24px;
            font-weight: bold;
        }
    }

    .last {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .chart {
            width: 100px;
            height: 100px;
        }

        .title {
            font-size: 20px;
            font-weight: bold;
            color: rgb(119, 194, 244);
        }

        .number {
            font-size: 30px;
        }

        .description {
            font-weight: bold;
            color: rgba(248, 248, 249, 0.5);
            text-align: center;
        }

        
    }

    .sum {
        display: flex;
        align-items: center;
        justify-content: space-between;  
        width: 100%;

        .item {
            text-align: center;
            font-size: 20px;

            .sumtitle {
                font-size: 15px;
                color: rgb(41, 163, 244);
            }

            .sumresult {
                display: flex;
                margin-block: 10px;
                align-items: center;

                &.positive {
                    color: rgb(52, 122, 52);
                  }
                &.negative {
                color: rgb(193, 60, 60);
                }
            }
        }
    }
}