.MR {
  border: 0.2rem solid var(--green); 
  border-radius: 5px;
  box-shadow: .6rem .6rem 0 rgba(22, 160, 133, 0.3);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  .center-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .switch-buttons {
      display: flex;
      margin-bottom: 10px;

      button {
        padding: 10px;
        margin-right: 10px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;

        &.active {
          background-color: #16a085;
          color: #fff;
        }
      }
    }
  }
}


.create-bill-container {
  text-align: center;
  margin-top: 20px;
}

.record-form-container {
  position: relative;
}

.step-counter {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.previous-button,
.next-button {
  padding: 0.5rem 1rem;
  background-color: #43CD80;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.previous-button:hover,
.next-button:hover {
  background-color: #43CD80;
}

.kPyMkz {
  border: 1px solid #2e8655 !important;
}